{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Blog
{% endblock title %}
{% block content %}
<section class="kinging-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="kinging-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Blog</li>
        </ul>
    </div>
</section>

{% endblock content %}